<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Repositories</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div *ngIf="isLoading | async" [ngStyle]="{'text-align':'center'}">
            <i class="fa fa-spinner fa-spin" [ngStyle]="{'font-size':'100px', 'color':'#8a6c6c'}"></i>
          </div>
        </div>
      </div>
      <div *ngIf="!(isLoading | async)">
        <div *ngFor="let repo of listOfRespos | async">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <a [href]="repo.repoUrl" target="_blank">{{repo.name}}</a>
              </div>
              <div class="col-lg-6 col-md-6">
                <span class="label label-primary">Watchers: {{repo.watchers}}</span>
                <span class="label label-success">Forks: {{repo.forks}}</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
