#logo {
  text-align: center;
}
#logImage {
  background-color: #8a6c6c;
  border-radius: 50%;
  border: 20px dashed white;
  max-width:20%;
  max-height:20%;
  -webkit-transition : border 300ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
}

#logImage:hover {
  border: 30px dashed #ffa1a1;
  background-color: white;
}
